.friendReqBlock {
  margin: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.friendReqUsername {
  margin: 0.55vh;
  font-size: larger;
}

.friendIcon {
  height: 3vh;
  width: 3vh;
}

.hiddenFriendButton {
  background-color: transparent;
  border: 2px solid transparent;
  margin: 1vh;
  border-radius: 1vh;
  padding: 0.1vh;
}

.hiddenFriendButton:hover {
  border: 2px solid var(--accent-color);
}
