.ownedChatContainer {
  margin: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ownedChatName {
  margin: 0.55vh;
  font-size: larger;
}

.ownedChatOptionsButton {
  height: 3.4vh;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 1vh;
  border-radius: 1vh;
  padding: 0.1vh;
  border: 2px solid transparent; 
}

.ownedChatOptionsIcon {
  height: 3vh;
  width: 3vh;
}

.ownedChatOptionsButton:hover {
  border: 2px solid var(--accent-color);
}
