.ownedChatContainer {
  margin: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ownedChatName {
  margin: 0.55vh;
  font-size: larger;
}

.ownedChatOptionsButton {
  height: 3.4vh;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 1vh;
}

.ownedChatOptionsIcon {
  height: 100%;
}
