#root {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
}

.mainRoot {
  display: grid;
  grid-template-rows: 1fr 13fr;
  grid-template-columns: 1fr 5fr;
  width: 100vw;
  height: 100vh;
}

.formButton {
  font-size: 1vw;
  font-weight: bold;
  background-color: var(--accent-color);
  border: none;
  width: 8vw;
  height: 5vh;
  border-radius: 1vh;
  transition: background-color .34s, color .34s;
  margin-top: 2vh;
}

.formButton:hover {
  background-color: var(--background-color);
  color: white;
  border: 1px solid var(--text-color);
}
