#root {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
}

.mainRoot {
  display: grid;
  grid-template-rows: 1fr 13fr;
  grid-template-columns: 1fr 5fr;
  width: 100vw;
  height: 100vh;
}

