@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

:root {
  --text-color: #e8eced;
  --background-color: #191e21;
  --darker-background-color: #0e1314;
  --primary-color: #b6c4c7;
  --secondary-color: #584348;
  --accent-color: #958874;
}
