.headerContainer {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1vw;
  border-bottom: 3px solid var(--secondary-color);
}

.headerLogo {
  letter-spacing: .34vw;
}

.headerButton {
  font-size: 1.3vw;
  font-weight: bold;
  background-color: var(--accent-color);
  border: none;
  width: 8vw;
  height: 5vh;
  border-radius: 1vh;
}
