.headerContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1vw;
  border-bottom: 1px solid var(--secondary-color);
  grid-column: 1 / span 2;
  grid-row: 1;
}

.headerLogo {
  letter-spacing: .34vw;
}

.headerButton {
  font-size: 1.3vw;
  font-weight: bold;
  background-color: var(--accent-color);
  border: none;
  width: 8vw;
  height: 4vh;
  border-radius: 1vh;
  margin-left: 1.34vw;
  transition: background-color .34s, color .34s;
}

.headerButton:hover {
  background-color: var(--background-color);
  color: white;
  border: 1px solid var(--text-color);
}

.headerGreeting { 
  font-size: 2.34vh;
}

.headerButtonsAndGreetingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
