.sideBarHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 2vh;
}

.sideBarExpandIcon {
  height: 3vh;
}

.sideBarExpandButton {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.34s ease;
}

.rotate {
  transform: rotate(90deg);
}
