.newChatFormRoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newChatForm > h2 {
  margin-bottom: 2vh;
  text-align: center;
}

.newChatForm {
  background-color: var(--darker-background-color);
  padding: 3vh;
  border-radius: 2vh;
}

.labelInputPairContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2vh;
}

.labelInputPairContainer > label {
  font-size: larger;
  margin-right: 1vh;
}

.labelInputPairContainer > input {
  color: white;
  font-size: larger;
  padding: 1vh;
  background-color: var(--background-color);
  border: none;
  outline: none;
  border-radius: 2vh;
}

select {
  background-color: var(--background-color);
  border: none;
  outline: none;
  color: white;
  font-size: larger;
  padding: 1vh;
  width: 69%;
  border-radius: 2vh;
}

.formButtonOverride {
  margin-top: 0;
}

.typeHeader {
  margin: 1vh;
}

.typeList > li {
  font-size: large;
}

.instanceInfoButton {
  height: 3vh;
  margin-left: 2vh;
  border: none;
  background-color: transparent;
  outline: none;
}

.instanceInfoIcon {
  height: 100%;
}

.nameMissingWarning {
  font-size: larger;
  margin-top: 1vh;
}
