.newChatFormRoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newChatFormRoot > h2 {
  margin-bottom: 2vh;
}

.newChatForm {
  background-color: var(--darker-background-color);
  padding: 3vh;
  border-radius: 2vh;
}

.newChatForm > label {
  font-size: larger;
  margin-right: 1vh;
}

.newChatForm > input {
  color: white;
  font-size: larger;
  padding: 1vh;
  background-color: var(--background-color);
  border: none;
  outline: none;
  border-radius: 1vh;
}
