.friendOptionsContainer {
  position: relative;
  border-radius: 3vh;
  background-color: var(--darker-background-color);
  padding: 3vh;
  margin: 20vh;
}

.friendOptionsHeaderAndExitContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
  padding-left: 2vw;
}

.friendOptionsExitIcon {
  height: 3vw;
  width: 3vw;
}

.friendActionsButton {
  background-color: var(--secondary-color);
  font-size: larger;
  color: white;
  border: 3px solid transparent;
  outline: none;
  padding: 1vh;
  border-radius: 2vh;
  margin-top: 3vh;
}

.friendActionsButton:hover {
  background-color: var(--darker-background-color);
  border: 3px solid white;
}

.friendOptionsExitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  background-color: transparent;
  padding: 1vh;
  border-radius: 50%;
}

.friendOptionsExitButton:hover {
  border: 2px solid white;
}

.friendActionsContainer {
  margin: 2vh;
  padding: 1vh;
}

.friendActionsInviteDropdown {
  margin-right: 3vw;
  margin-bottom: 2vh;
}
