.friendOptionsContainer {
  border-radius: 3vh;
  background-color: var(--darker-background-color);
  padding: 3vh;
  margin: 10vh;
}

.friendOptionsHeaderAndExitContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.friendOptionsExitButton {
  background-color: transparent;
  border: none;
  outline: none;
}

.friendOptionsExitIcon {
  height: 3vw;
  width: 3vw;
}

.friendActionsButton {
  background-color: var(--secondary-color);
  font-size: larger;
  color: white;
  border: 3px solid transparent;
  outline: none;
  padding: 2vh;
  border-radius: 2vh;
  margin: 1vh;
}

.friendActionsButton:hover {
  background-color: var(--darker-background-color);
  border: 3px solid white;
}
