.removeFriendConfirmationContainer {
  position: absolute;
  background-color: var(--background-color);
  border-radius: 2vh;
  padding: 4vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid red;
}

.removeFriendConfirmationCancelIcon {
  height: 5vh;
}

.removeFriendConfirmationHeader {
  display: flex;
  flex-direction: column;
  padding-bottom: 2vh;
  border-bottom: 1px solid var(--secondary-color);
  justify-content: space-between;
  align-items: center;
}

.removeFriendConfirmationButtonsContainer {
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
