.accountRoot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountContainer {
  position: relative;
  background-color: var(--darker-background-color);
  border-radius: 2vh;
  overflow: scroll;
  width: 55%;
  height: 89%;
}

.noDataMessage {
  font-size: 3vh;
  text-align: center;
  margin-top: 5vh;
}
