.accountRoot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountContainer {
  background-color: var(--darker-background-color);
  border-radius: 2vh;
  overflow: scroll;
  width: 55%;
  height: 89%;
}
