.deleteChatConfirmButton {
  height: 5vh;
  width: 5vw;
  background-color: var(--accent-color);
  border: 3px solid transparent;
  outline: none;
  margin: 1vh;
}

.deleteChatConfirmButton:hover {
  background-color: black;
  border: 3px solid white;
}

.deleteChatConfirmIcon {
  height: 55%;
}

.deleteChatConfirmationContainer {
  position: absolute;
  background-color: var(--background-color);
  border: 3px solid var(--accent-color);
  border-radius: 3vh;
  padding: 5vh;
  top: 25%;
  left: 25%;
}
