.chatModerationRoot {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--darker-background-color);
  overflow: scroll;
}

.closeModerationWindowButton {
  height: 4vh;
  background-color: transparent;
  border: none;
  outline: none;
}

.closeModerationWindowIcon {
  height: 100%;
}

.chatModerationName {
  font-size: 3vh;
}

.chatModerationHeaderContainer {
  display: flex;
  justify-content: space-between;
  margin: 2vh;
  padding: 2vh;
  border-bottom: 3px solid var(--accent-color);
}

.participantsContainer {
  padding-left: 4vh;
  padding-right: 4vh;
  padding-top: 1vh;
}

.moderationSectionHeader {
  font-size: 2.4vh;
}
