.participantViewContainer {
  padding: 2vh;
  margin: 1vh;
  border-radius: 2vh;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.participantViewName {
  font-size: 2.5vh;
}

.participantKickButton {
  color: white;
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  padding: 0.5vh;
  font-size: larger;
  border-radius: 1vh;
  transition: background-color 0.34s ease;
}

.participantKickButton:hover {
  background-color: red;
}
