.searchResultsContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -45%);
  border: 1px solid var(--secondary-color);
  padding: 1vh;
  height: 80vh;
  width: 55vw;
  border-radius: 2vh;
  background-color: var(--darker-background-color);
  z-index: 998;
  overflow-y: scroll;
}

.hiddenButton {
  background-color: transparent;
  border: none;
  outline: none;
}

.searchResultsCloseIcon {
  opacity: 1;
  width: 2vw;
}

.searchResultsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh;
}

.usersAndChatsContainer {
  margin-left: 1vw;
  margin-right: 1vw;
  overflow: scroll;
}

.usersAndChatsContainer > h2 {
  margin-top: 1vh;
}
